.footer{
    display: flex;
    color: $white;
    justify-content: space-between;
    position: relative;
    background-color: $black;
    padding-top: 40px;
    @include Small{
        height: 580px;
        top: 740px;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__info{
        width: 300px;
        @include Small{
            margin-top: 25px;
        }
    }
    &__logo{
        @include Small{
            text-align: center;
            margin-top: 30px;
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
        @include Small{
            
        }
    }
    &__menu .header__desktop{
        display: flex;
        @include Small{
            flex-direction: column;
        }
        
    }
    &__redes{
        float:right;
        @include Small{
            display: flex;
            justify-content: center;
            float: none;
        }
    }
    &__rights{
        padding-top: 103px;
        float:right;
        @include Small{
            padding-top: 27px;
        }
    }
    &__menu ul{
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    &__menu li:first-child{
        margin-left: 0;
        
    }
    &__menu li{
        @include Small{
            margin-left: 0;
            text-align: center;
            padding-top: 20px;
        }
    }

}
.footer img{
    margin-left: 20px;
}
.footer h2{
    font-family: 'Alata', sans-serif;
    // font-family: 'Josefin Sans', sans-serif;
}